# Part 1: Cross validation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize,
                         poly)
from sklearn.model_selection import train_test_split
from functools import partial
from sklearn.model_selection import \
     (cross_validate,
      KFold,
      ShuffleSplit)
from sklearn.base import clone
from ISLP.models import sklearn_sm

In [2]:
import warnings
warnings.filterwarnings('ignore')

## 1a) Validation set approach
Objective: Use validation set approach to evaluate performance of model predicting `mpg` in `Auto` dataset based on predictor `horsepower`.

In [3]:
Auto =  load_data('Auto')

In [4]:
train, validation = train_test_split(Auto, test_size=0.3)

In [5]:
train

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
380,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
120,15.0,8,318.0,150,3399,11.0,73,1,dodge dart custom
80,28.0,4,97.0,92,2288,17.0,72,3,datsun 510 (sw)
55,26.0,4,91.0,70,1955,20.5,71,1,plymouth cricket
245,39.4,4,85.0,70,2070,18.6,78,3,datsun b210 gx
...,...,...,...,...,...,...,...,...,...
360,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
341,35.1,4,81.0,60,1760,16.1,81,3,honda civic 1300
382,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
302,37.3,4,91.0,69,2130,14.7,79,2,fiat strada custom
44,18.0,6,258.0,110,2962,13.5,71,1,amc hornet sportabout (sw)

In [6]:
validation

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
128,26.0,4,122.0,80,2451,16.5,74,1,ford pinto
189,22.0,6,225.0,100,3233,15.4,76,1,plymouth valiant
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
...,...,...,...,...,...,...,...,...,...
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
176,23.0,4,120.0,88,2957,17.0,75,2,peugeot 504
292,34.1,4,86.0,65,1975,15.2,79,3,maxda glc deluxe
185,17.5,8,305.0,140,4215,13.0,76,1,chevrolet chevelle malibu classic
286,18.2,8,318.0,135,3830,15.2,79,1,dodge st. regis

In [7]:
design = MS(['horsepower']).fit(train)
X_train = design.transform(train)
X_train

     intercept  horsepower
380        1.0         110
120        1.0         150
80         1.0          92
55         1.0          70
245        1.0          70
..         ...         ...
360        1.0          88
341        1.0          60
382        1.0          92
302        1.0          69
44         1.0         110

[274 rows x 2 columns]

In [8]:
y_train = train.mpg

In [9]:
model = sm.OLS(y_train,X_train)
results = model.fit()
summarize(results)

               coef  std err       t  P>|t|
intercept   40.9083    0.901  45.399    0.0
horsepower  -0.1672    0.008 -20.175    0.0

In [10]:
y_valid_actual = validation.mpg
X_validation = design.transform(validation)
y_valid_predicted = results.predict(X_validation)
MSE = np.mean((y_valid_actual - y_valid_predicted)**2)
MSE

24.85863566427132

In [11]:
X_validation

     intercept  horsepower
3          1.0         150
10         1.0         170
128        1.0          80
189        1.0         100
20         1.0          87
..         ...         ...
14         1.0          95
176        1.0          88
292        1.0          65
185        1.0         140
286        1.0         135

[118 rows x 2 columns]

In [12]:
def evalMSE(predictors,
           train,
           validation):
    # build design matrix and response vector
    design = MS(predictors).fit(train)
    X_train = design.transform(train)
    y_train = train.mpg 

    # train model
    model = sm.OLS(y_train,X_train)
    results = model.fit()

    # compute MSE
    y_valid_actual = validation.mpg
    X_validation = design.transform(validation)
    y_valid_predicted = results.predict(X_validation)
    MSE = np.mean((y_valid_actual - y_valid_predicted)**2)
    return MSE

In [13]:
evalMSE(['horsepower'], train, validation)

24.85863566427132

Let's compute the MSE for linear regression models including successively higher polynomial terms of `horsepower`.

In [14]:
predictors = [poly('horsepower', 2)] # choose powers of horsepower as predictors up to degree i+1
MS(predictors).fit_transform(Auto)

     intercept  poly(horsepower, degree=2)[0]  poly(horsepower, degree=2)[1]
0          1.0                       0.033544                      -0.052723
1          1.0                       0.079529                      -0.009329
2          1.0                       0.059821                      -0.036300
3          1.0                       0.059821                      -0.036300
4          1.0                       0.046682                      -0.047302
..         ...                            ...                            ...
387        1.0                      -0.024266                      -0.010260
388        1.0                      -0.068938                       0.096569
389        1.0                      -0.026894                      -0.005763
390        1.0                      -0.033463                       0.006459
391        1.0                      -0.029522                      -0.001041

[392 rows x 3 columns]

In [15]:
MSE

24.85863566427132

In [16]:
from ISLP.models import poly
MSE = []
for i in range(5):
    predictors = [poly('horsepower', i+1)] # choose powers of horsepower as predictors up to degree i+1
    err = evalMSE(predictors, train, validation)
    MSE.append(err)

In [17]:
MSE

[24.858635664271315,
 20.419948439347653,
 20.952145200197954,
 20.830573969103334,
 19.642665467723297]

## 1b) Cross validation

Cross validation is implemented most comfortably in `scikit-learn`. In order to use the `scikit-learn` implementation of cross validation with our `statsmodels` linear model, we use the wrapper `sklearn_sm` provided by the `ISLP` library. From the lab in Chapter 5:

"The class `sklearn_sm()` has as its first argument a model from `statsmodels`. It can take two additional optional arguments: `model_str` which can be used to specify a formula, and `model_args` which should be a dictionary of additional arguments used when fitting the model. For example, to fit a logistic regression model we have to specify a family argument. This is passed as `model_args={'family':sm.families.Binomial()}`."

After specifying our design matrix `X` and the vector `y` we call the `scikit-learn` function `cross_validate` (see [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html)).

The result is a dictionary which among others contains the `test_score` which we are interested when we use cross validation to estimate the test error.

### Example: LOOCV for a simple linear regression model

In [18]:
model = sklearn_sm(sm.OLS,
                  MS(['horsepower']))
X = Auto.drop(columns = ['mpg'])
y = Auto['mpg']

The function `cross_validate` is the original `scikit-learn` function which carries out cross validation. We provide the following arguments:
- a model which needs `fit()` and `predict()` methods
- a design matrix `X` and a vector of training labels `y`
- the parameter `cv` specifying the number of folds for cross validation.

See the [official documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html) for more details.

In [19]:
cv_results = cross_validate(model,
                           X,
                           y,
                           cv = Auto.shape[0])

In [20]:
cv_results['test_score']

array([2.02001002e+00, 1.25092412e+00, 3.06805164e+00, 6.79901984e-02,
       7.08255629e-01, 4.13566745e+01, 8.13755358e+01, 6.71494767e+01,
       9.70498847e+01, 2.63430368e+01, 3.67428697e+00, 4.70741691e-01,
       1.60507789e+00, 9.70498847e+01, 8.89557151e-01, 8.69418110e+00,
       4.41228965e+01, 3.06562225e+01, 9.16549732e-01, 4.53185378e+01,
       1.45705281e+00, 3.00983554e+00, 3.54617605e-03, 1.52964088e+01,
       2.25022208e+01, 1.67905446e+01, 2.76735351e+00, 1.85354648e+01,
       2.29957474e-01, 9.16549732e-01, 5.18379999e+00, 3.54617605e-03,
       2.66745510e+01, 5.44791120e+01, 5.14078324e+01, 4.99405256e+01,
       3.80360006e+01, 1.19884585e-02, 2.91033003e+00, 3.23104363e+00,
       5.16691118e+00, 2.32487332e-01, 1.06678908e-02, 4.82615264e-01,
       2.10211114e+01, 4.35585197e+01, 2.66745510e+01, 6.51231162e+01,
       1.13690418e+01, 5.18379999e+00, 1.25085727e+00, 4.27873211e+00,
       1.77161819e+00, 3.58044876e+01, 1.21519855e+01, 8.41044041e+00,
       8.89557151e-01, 5.36657259e+00, 7.17595842e+01, 3.30230842e+01,
       2.89239650e+01, 8.09034686e-01, 2.91033003e+00, 1.60507789e+00,
       3.23104363e+00, 5.55648116e-01, 1.58374562e+01, 6.18633936e+00,
       7.30069293e+00, 9.62066868e+00, 3.18079355e+01, 1.60507789e+00,
       4.14699861e+01, 2.36253376e+01, 5.16691118e+00, 1.82205869e+01,
       3.55599555e+01, 2.72424889e+01, 9.35761228e+00, 1.91401940e+01,
       6.72450828e+00, 2.65440672e+00, 4.81922115e-01, 9.16549732e-01,
       4.82615264e-01, 5.16691118e+00, 1.65673457e+01, 1.87496691e+01,
       1.60507789e+00, 1.14041800e+01, 1.07534901e+01, 4.04602925e+00,
       5.16691118e+00, 5.14127073e+01, 6.07551884e+01, 4.82615264e-01,
       2.89000924e+01, 6.67900464e+01, 3.80360006e+01, 6.51231162e+01,
       3.78643546e+00, 4.53185378e+01, 2.80008847e+01, 2.52995804e+00,
       1.06678908e-02, 2.32487332e-01, 3.80360006e+01, 3.67700670e+01,
       5.78250435e+01, 9.65326195e+00, 6.00999134e+01, 5.69004321e+01,
       4.20960109e+00, 7.34161330e-02, 4.24141077e+00, 1.62504118e+02,
       1.04124952e+01, 1.69263872e+01, 3.12256930e+01, 1.06661158e+01,
       1.60507789e+00, 2.04714617e+00, 4.63627225e-01, 2.81308530e-01,
       2.45422744e+01, 2.66745510e+01, 8.41826427e+01, 2.71568614e+00,
       1.72393986e+00, 5.45824770e+00, 9.67273723e+00, 6.67900464e+01,
       4.34294154e+01, 2.89000924e+01, 3.40894184e+00, 1.07534901e+01,
       5.16691118e+00, 1.48674828e+01, 5.16691118e+00, 4.71985461e+00,
       1.14045570e+01, 2.65723179e+00, 5.37714836e-01, 2.89872607e+00,
       9.58490755e-03, 1.69263872e+01, 4.43538684e+00, 3.92603313e-01,
       5.56174397e-01, 2.71568614e+00, 3.54826220e+01, 2.89000924e+01,
       1.85793766e+02, 1.85793766e+02, 8.56678574e+00, 4.24141077e+00,
       6.79901984e-02, 6.70768171e+00, 3.12200353e+01, 5.44791120e+01,
       5.76492515e+01, 4.84338370e+01, 2.48707630e+00, 6.65463189e+00,
       4.35279867e+01, 8.21133366e-01, 1.48042183e+01, 1.73234837e+01,
       2.15428333e+01, 6.16014660e-01, 1.40301443e+01, 3.92603313e-01,
       4.41228965e+01, 1.29490738e-02, 4.55556484e+01, 3.78643546e+00,
       9.33148243e+00, 6.11852866e+00, 1.04014510e+01, 2.07408852e+00,
       2.70256448e+00, 4.65694071e+00, 1.72487801e-01, 2.16539700e+00,
       2.74918795e-02, 1.15058589e-01, 6.79901984e-02, 3.03694219e+01,
       2.11072545e+00, 4.65249596e+00, 1.86499577e+00, 9.99513766e+00,
       1.04928647e+01, 7.55152999e+00, 3.60116535e+01, 1.29490738e-02,
       2.07408852e+00, 1.73234837e+01, 9.33213791e+01, 1.66755705e+01,
       5.56635197e+01, 5.99987945e-01, 9.78228164e+00, 9.58490755e-03,
       4.32695051e+00, 1.47882454e+01, 1.07534901e+01, 4.99405256e+01,
       1.51995441e+01, 2.03208885e+01, 2.53881491e+01, 1.65673457e+01,
       4.14699861e+01, 1.07534901e+01, 5.33042511e+00, 7.29756797e+00,
       2.75846571e+01, 5.17186811e-01, 2.14795069e+01, 2.06180738e-01,
       3.12200353e+01, 2.42350354e+00, 1.96456368e+01, 2.58692664e+01,
       8.23394721e+00, 2.66745510e+01, 3.57935557e+01, 2.05425417e+01,
       5.86547892e+00, 3.18124590e+01, 1.75981847e-01, 1.90777485e+00,
       2.40313535e+00, 4.43538684e+00, 1.51190554e-01, 2.61303673e-01,
       4.47244402e+01, 4.13364701e-01, 8.33410057e+00, 6.92684164e+00,
       1.15721954e+00, 1.15721954e+00, 1.17243677e+02, 4.37670739e+01,
       1.16629732e+00, 1.11553234e+02, 3.21334196e+01, 7.18196254e+00,
       2.46435792e+00, 4.90518618e+00, 1.74123514e+01, 1.98261758e+01,
       4.01877223e+01, 8.99439615e-01, 1.34018435e+01, 4.03012186e+01,
       7.66863328e+00, 3.29183245e+01, 1.58667760e+01, 8.42803414e+00,
       4.67977341e+00, 1.47657800e+01, 1.10336292e-02, 1.15058589e-01,
       6.42346961e-01, 6.58606332e+00, 6.66627625e+00, 7.91798088e+00,
       1.48304437e+01, 2.64318792e-02, 7.44090531e+00, 5.28305235e-01,
       1.14684171e+01, 1.03414523e+01, 3.39377102e-02, 7.58123595e+00,
       7.74842230e+00, 8.94190790e-02, 8.09384884e-02, 4.54365642e+01,
       1.41140526e+01, 3.07579754e+01, 3.91284380e+00, 5.88043263e+00,
       3.92436810e+00, 2.75808267e+00, 1.83702289e-01, 2.07387025e+00,
       4.12916020e+00, 1.01722577e+00, 5.08353300e+00, 1.01467782e+01,
       1.97789373e+01, 7.09285156e+01, 8.47276098e-03, 5.71702729e+00,
       7.86198816e+00, 2.35859722e+00, 3.36788510e+00, 2.84924847e+01,
       3.18008270e+01, 4.55923166e+00, 6.88003729e+01, 7.17149316e+00,
       4.94993583e+01, 2.53016852e+01, 6.07286850e+01, 1.85344168e+02,
       5.89921650e+01, 1.04207991e+01, 5.72092847e+01, 5.18379999e+00,
       1.26415094e-01, 2.05638892e+00, 4.42118654e+01, 4.49064563e+01,
       1.66631623e+01, 1.03395519e+01, 1.34992151e+02, 1.69676219e+01,
       2.89448955e+02, 2.06974399e+01, 1.25051574e+02, 1.44905192e+02,
       1.23884653e+02, 5.00546480e+01, 4.13364701e-01, 2.34577604e+02,
       1.99088405e+01, 1.23537151e-01, 1.86386212e+02, 2.04808540e-01,
       8.06690157e+01, 1.47899420e+01, 2.75430770e-01, 5.95305638e-03,
       1.49726751e-01, 8.63932788e-01, 1.11156438e+01, 7.00853046e+01,
       8.49303469e+01, 2.17401579e+01, 8.72867547e+00, 5.42082969e+01,
       5.76616427e+01, 2.42205203e+01, 2.24153948e+01, 2.25523558e+01,
       5.07271492e-02, 2.26998788e+01, 3.16437445e+01, 1.86623193e+01,
       7.69355372e+01, 1.12801915e+01, 6.31334897e-01, 7.68002445e+00,
       1.43235862e+01, 1.03365290e+01, 3.00647280e-02, 1.05372851e+01,
       3.43774311e+01, 8.00620412e+01, 3.84314632e+00, 9.16549732e-01,
       6.36574958e+01, 2.02081766e+01, 5.43229349e+00, 1.62275765e+00,
       2.01113213e+00, 6.04809802e+01, 6.13959910e+01, 3.26284998e+00,
       6.48476825e+01, 5.10675623e+01, 9.96926676e+01, 6.29583618e+01,
       2.63878500e+01, 7.53932748e+01, 7.03805538e+00, 7.53932748e+01,
       5.92141501e+00, 1.32661105e+02, 3.45169047e-01, 6.65300161e-02,
       5.23682368e+01, 8.74921443e+01, 1.62275765e+00, 4.10622168e-01,
       1.52827762e+02, 2.85218299e+01, 2.87124380e-01, 1.61698064e+01])

In [21]:
cv_err = np.mean(cv_results['test_score'])
cv_err

24.23151351792922

cv_results

### b) LOOCV to compare different models

We can repeat this procedure to compare different models. In the following we do this with various polynomial fits:

In [22]:
cv_error = np.zeros(5) #initialize empty vector for CV errors of 5 models
M = sklearn_sm(sm.OLS)
y = Auto['mpg']

# loop over 5 different polynomial models
for i in range(5):
    # choose power of horsepowers as predictors up to degree i+1
    predictors = [poly('horsepower', i+1)]
    X = MS(predictors).fit_transform(Auto)
    #perform cross validation for polynomial model of degree i+i
    cv_results = cross_validate(M,
                               X,
                               y,
                               cv = Auto.shape[0])
    # save cross validation error into result vector
    cv_error[i] = np.mean(cv_results['test_score'])
cv_error

array([24.23151352, 19.24821312, 19.33498406, 19.42443031, 19.03321385])

### c) General cross validation

Instead of using $K = n$ folds such as above (resulting in Leave-One-Out-Cross-Validation (LOOCV)) we can also specify a smaller integer $K$ of folds. There are two possibilities for this:
- set `cv = K`,
- specify a cross validation generator such as `KFold` (see [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html))

Below we use the second approach, which is generally preferred as we do better control the kind of split when using `KFold`.

In [23]:
cv_error = np.zeros(5)

cross_val = KFold(n_splits = 10,
                 shuffle = True,
                 random_state = 42)

M = sklearn_sm(sm.OLS)
y = Auto['mpg']

# loop over 5 different polynomial models
for i in range(5):
    # choose power of horsepowers as predictors up to degree i+1
    predictors = [poly('horsepower', i+1)]
    X = MS(predictors).fit_transform(Auto)
    #perform cross validation for polynomial model of degree i+i
    cv_results = cross_validate(M,
                               X,
                               y,
                               cv = cross_val)
    # save cross validation error into result vector
    cv_error[i] = np.mean(cv_results['test_score'])
cv_error

array([24.1998082 , 19.22863661, 19.26626535, 19.35109227, 19.02323325])

# Part 2: Case study cross validation

(see Exercise 5.4.5)

In this case study we use the credit card dataset to predict the probability of default. We will build a logistic regression model and estimate its test error using the validation set approach and the cross-validation approach.

In [24]:
# run this cell to load the data
Default = load_data('Default')
Default

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [25]:
Default.dtypes

default     object
student     object
balance    float64
income     float64
dtype: object

Background information on the dataset can be found [in the documentation](https://islp.readthedocs.io/en/latest/datasets/Default.html).

## Task 2.1
Fit a logistic regression model that uses `income` and `balance` to predict `default`.

In [26]:
predictors = Default.columns.drop(['default','student'])
design = MS(predictors).fit(Default)
X = design.transform(Default)
y = Default.default.map(
    {'No': 0,
    'Yes': 1}
)

model = sm.Logit(y,X)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.078948
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9997
Method:                           MLE   Df Model:                            2
Date:                Tue, 04 Jun 2024   Pseudo R-squ.:                  0.4594
Time:                        14:10:26   Log-Likelihood:                -789.48
converged:                       True   LL-Null:                       -1460.3
Covariance Type:            nonrobust   LLR p-value:                4.541e-292
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept    -11.5405      0.435    -26.544      0.000     -12.393     -10.688
balance        0.0056      0.000     24.835      0.000       0.005       0.006
income      2.081e-05   4.99e-06      4.174      0.000     1.1e-05    3.06e-05
==============================================================================

Possibly complete quasi-separation: A fraction 0.14 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

## Task 2.2
Using the validation set approach, estimate the test error of this model. In order to do this, you must perform the following steps:

i. Split the sample set into a training set and a validation set.

ii. Fit a multiple logistic regression model using only the training observations.

iii. Obtain a prediction of default status for each individual in the validation set by computing the posterior probability of default for that individual, and classifying the individual to the default category if the posterior probability is greater than 0.5.

iv. Compute the validation set error, which is the fraction of the observations in the validation set that are misclassified.

In [27]:
# i. splitting into validation and test set
train, val = train_test_split(
    Default,
    test_size=0.3,
    random_state = 42
)

In [28]:
# ii. fit logistic regression model using only training observations
predictors = train.columns.drop(['default','student'])
design2 = MS(predictors).fit(train)
X2 = design2.transform(train)
y2 = train.default.map(
    {'No': 0,
    'Yes': 1}
)

model2 = sm.Logit(y2,X2)
results2 = model2.fit()
results2.summary()

Optimization terminated successfully.
         Current function value: 0.078256
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                 7000
Model:                          Logit   Df Residuals:                     6997
Method:                           MLE   Df Model:                            2
Date:                Tue, 04 Jun 2024   Pseudo R-squ.:                  0.4743
Time:                        14:10:26   Log-Likelihood:                -547.79
converged:                       True   LL-Null:                       -1042.0
Covariance Type:            nonrobust   LLR p-value:                2.273e-215
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept    -11.6019      0.522    -22.236      0.000     -12.624     -10.579
balance        0.0057      0.000     20.976      0.000       0.005       0.006
income      1.872e-05   5.92e-06      3.163      0.002    7.12e-06    3.03e-05
==============================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [29]:
# iii. Prediction for validation set
X_val = design2.transform(val)
predicted_probs = results2.predict(X_val)
predicted_labels = np.where(predicted_probs > 0.5, 'Yes', 'No')

In [30]:
# iv. validation set error
true_labels = val.default
val_err = 1 - np.mean(predicted_labels == true_labels)
val_err

0.026666666666666616

Thus, the test error estimated by the validation set method is $2.7\%$.
Note that this measure overestimates the quality of the model. While only $2.7\%$ of misclassified observations sounds like a good model, the cell below shows that the model produces quite a high number of false negatives (i.e. defaults which are predicted as non-defaults by the model).

In [31]:
predicted_labels[true_labels == 'Yes']

array(['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No'], dtype='<U3')

In [32]:
from ISLP import confusion_table
confusion_table(predicted_labels, true_labels)

Truth        No  Yes
Predicted
No         2896   70
Yes          10   24

## Task 2.3
Repeat the process in (b) three times, using three different splits of the observations into a training set and a validation set. Comment on the results obtained.

In [33]:
# your code here
val_errors = np.zeros(3)
for i in range(3):
    train, val = train_test_split(
        Default,
        test_size=0.3
    )
    predictors = train.columns.drop(['default','student'])
    design3 = MS(predictors).fit(train)
    X3 = design3.transform(train)
    y3 = train.default.map(
        {'No': 0,
        'Yes': 1}
    )

    model3 = sm.Logit(y3,X3)
    results3 = model3.fit()
    X_val = design3.transform(val)
    predicted_probs = results2.predict(X_val)
    predicted_labels = np.where(predicted_probs > 0.5, 'Yes', 'No')
    true_labels = val.default
    val_err = 1 - np.mean(predicted_labels == true_labels)
    val_errors[i] = val_err
val_errors

Optimization terminated successfully.
         Current function value: 0.082333
         Iterations 10
Optimization terminated successfully.
         Current function value: 0.077183
         Iterations 10
Optimization terminated successfully.
         Current function value: 0.076652
         Iterations 10

array([0.023     , 0.029     , 0.02833333])

**Comment**: The fraction of observations which are misclassified varies slightly due to the fact that we use different validation sets (no random seed set!) in each of the three iterations.

## Task 2.4
Now predict the test error of the model using 10-fold cross-validation. To do so, follow the steps we developed in Part 1b) of this notebook.

**Note**: To carry out this task, we need to define our own custom score using [`sklearn.make_scorer()`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.html) and pass this to the function [`sklearn.cross_validate()`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html) by specifying it as an argument to the `scoring` parameter.

Our custom scoring function needs to have the signature `score_func(y, y_pred, **kwargs)` with `y` being the true labels and `y_pred` the predicted labels as output by `sm.Logit()` when applying the `predict()` method. Since `statsmodels` outputs probabilities rather than actual labels, we first transform these probabilities  into labels. This is what our scoring function `accuracy_score_sm()` does.

In [ ]:
# your code here

**No solutions beyond this point as we did not go further in class**

## Task 2.5
Now consider a logistic regression model that predicts the probability of default using income, balance, and a dummy variable for student. Estimate the test error for this model using 10-fold cross-validation. Comment on whether or not including a dummy variable for student leads to a reduction in the test error rate.

In [ ]:
# your code here

# Part 3: Implementation of bootstrap

## Estimating the accuracy of a statistic
### Introducing the dataset
We closely follow an example presented in [Computational and Inferential Thinking](https://inferentialthinking.com/chapters/13/3/Confidence_Intervals.html).

In [ ]:
url = 'https://drive.google.com/uc?id='
file_id = "15xUDQPqkzKJBoxrafC9iNz4EgFlwbmM_"
births = pd.read_csv(url + file_id)
births

**Task 1**: Create a new column `Birth Weight (g)` which contains the birth weight in kg. Use the fact 1oz = 28.3495g for your computations.

In [ ]:
...

Birth weight is an important factor in the health of a newborn infant. Smaller babies tend to need more medical care in their first days than larger newborns. It is therefore helpful to have an estimate of birth weight before the baby is born. One way to do this is to examine the relationship between birth weight and the number of gestational days.

A simple measure of this relationship is the ratio of birth weight to the number of gestational days. The table ratios contains the first two columns of baby, as well as a column of the ratios. The first entry in that column was calculated as follows:
$$ \frac{3401.94 \text{oz}}{284 \text{ days}} \approx 11.98 \text{g} \text{ per day}.$$

In [ ]:
ratios = pd.DataFrame({
    'Birth Weight' : births['Birth Weight (g)'],
    'Ratio BW:GD' : births['Birth Weight (g)'] / births['Gestational Days']
})
ratios

**Task 2:** Plot a histogram of the ratios.

In [ ]:
fig,ax  = plt.subplots(figsize =(8,8))
sns.histplot(ratios, x = "Ratio BW:GD");

**Task 3:** Compute the median ratio and the maximum ratio in the sample.

In [ ]:
...

In [ ]:
...

### Bootstrapping for estimating the variability of the population median
We now want to estimate the population median. For this we are going to use the bootstrapping method.
We start by reviewing the idea in a graphical manner:
![bootstrap.png](bootstrap.png)

**Task 1**: Define a function `one_bootstrap_median` which will bootstrap the sample and return the median ratio in the bootstrapped sample.

- To bootstrap the sample use the Pandas.DataFrame method [`sample`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html). *Important*: Make sure to draw a sample of the same length as our original sample and make sure to sample with replacement.
- To compute the appropriate quantile, use the Numpy method [`quantile`](https://numpy.org/doc/stable/reference/generated/numpy.quantile.html)

In [ ]:
...

**Task 2**: Initialize a Numpy vector `bootstrap_medians` with zeros of length 5000 (use the Numpy method [`zeros()`](https://numpy.org/doc/stable/reference/generated/numpy.zeros.html#numpy.zeros). Then fill this vector with 5000 bootstrapped medians.

In [ ]:
...

In [ ]:
fig,ax  = plt.subplots(figsize =(8,8))
sns.histplot(x = bootstrap_medians, bins=25);

# Bootstrapping for estimating the accuracy of a Linear Regression Model
Now, we discuss how to use bootstrapping in order to assess the variability of the coefficient estimates and predictions from a statistical learning method. As an example, we look at a simple linear regression model based on the `Auto` dataset which predicts the `mpg` variable based on `horsepower`.

With the bootstrap method we are going to estimate the distribution of the coefficient for `mpg` in this model and we compare the standard error of this coefficient as estimated by `statsmodels` with our bootstrap estimate.

**Task 1**: Define a function `one_bootstrap_model_coefficient` which creates a single bootstrap sample from the Auto dataframe, computes a regression model based on the single predictor `horsepower` and returns the model coefficient for `horsepower`.

In [ ]:
...

**Task 2**: Initialize a Numpy vector `bootstrap_model_coefficients` with zeros of length 5000 (use the Numpy method [`zeros()`](https://numpy.org/doc/stable/reference/generated/numpy.zeros.html#numpy.zeros). Then fill this vector with 5000 bootstrapped model coefficients.

In [ ]:
...

In [ ]:
fig,ax  = plt.subplots(figsize =(8,8))
sns.histplot(x = bootstrap_model_coefficients, bins=25);

**Task 3**: Estimate the standard error of the model coefficient for `horsepower` and assign it to the variable `standard_error_bootstrap`. Compare to the `sm.OLS()` estimate which should be assigned to the variable `standard_error_bootstrap`.

In [ ]:
...

print('Bootstrapped standard error for model coefficient:', "{:10.4f}".format(standard_error_bootstrap))
print('Statsmodels OLS standard error estimate for model coefficient:', "{:10.4f}".format(standard_error_statsmodels))

# Part 4: Case study bootstrap

We continue to consider the use of a logistic regression model to predict the probability of default using income and balance on the Default data set. In particular, we will now compute estimates for the standard errors of the income and balance logistic regression coefficients in two different ways: 
1. using the bootstrap, and 
2. using the standard formula for computing the standard errors in the sm.GLM() function.

## Task 4.1
Using the `summarize()` and `sm.GLM()` functions, determine the estimated standard errors for the coefficients associated with income and balance in a multiple logistic regression model that uses both predictors.

In [ ]:
# your answer here

## Task 4.2
Following the bootstrap example in Part 3 above, estimate the standard errors of the logistic regression coefficients for income and balance with the bootstrap.

In [ ]:
# your answer here

## Task 4.3
Comment on the estimated standard errors obtained using the `sm.GLM()` function and using the bootstrap.

*your comment here*